*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    transition: background-image 1s ease;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none; /* For Safari/Chrome */
    -ms-user-select: none;    /* For IE/Edge */
    user-select: none; 
    background: rgb(0,84,180);
    background: linear-gradient(159deg, rgba(0,84,180,1) 0%, rgba(64,224,208,1) 100%);
}

.heading {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: 2; /* Ensure it overlays other elements */
    position: absolute;
     /* Position it relative to the viewport */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */

    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255,255,255,0.5), rgba(0,0,0,0.2));
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding:10px;
    text-align: center;
    border-radius:0px 0px 15px 15px;
    width: 100%;

}

.bgimg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container{
    position: absolute;
    height: auto;
    width: 400px !important;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255,255,255,0.7), rgba(0,0,0,0.2));
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    text-align: center;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.5px;
}

input {
    border-radius: 5px;
    padding: 0;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 3000;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    color: #353535;
    transition: background-color 0.3s ease;
}

input:focus {
    background-color: rgba(90, 136, 92, 0.5);
    padding-left: 10px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e5e5e5;
}

::placeholder {
    color: #e5e5e5;
    padding-left: 10px;
}

button {
    width: 7rem;
    margin-top: 30px !important; /* Ensure this rule is applied */
    background-color: #9d9595;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px !important; /* Ensure this rule is applied */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(136, 59, 59, 0.47);
}

footer{
    text-align: center;
    color: #ffffff;
    background: linear-gradient(360deg, rgb(0, 0, 0) 13.4%, rgb(63, 59, 60) 100.2%);
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p{
    padding-top: 5px;
    position: relative;
}
